/*Code for every page*/
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans|Pacifico');

html {
	background-image: url("images/background.jpg");
	background-repeat: repeat-y;
	background-attachment: fixed;
}

body {
	background-color: #FFFFFF;
	margin: 100px;
}

header {
	background-color: #CCFFFF;
}

img[alt="logo"] {
	width: 150px;
	height: 150px;
	float: left;
	margin: 25px;
}

h1 {
	float: left;
	color: #cc4e02;
	font-family: 'Pacifico', cursive;
	font-size: 72px;
	margin-bottom: 25px;
}

.head {
	position: absolute;
	top: 80px;
	left: 150px;
}

input[type="search"] {
	float: right;
	clear: right;
	width: 30%;
	height: 40px;
	margin: 85px 50px 0 0;
	border-radius: 5px;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: Gold;
}

input[type="search"]::placeholder {
	color: Black;
}

/*Style the navigation bar*/
ul {
	position: relative;
	top: 80px;
	background-color: Gold;
	margin-bottom: 100px;
	display: flex;
	flex-flow: row no-wrap;
	justify-content: space-around;
	width: 97.7%;
}

ul li {
	list-style: none;
	display: inline;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	margin: 15px 10px 15px 0;
	border-left: 10px double Black;
	border-right: 10px double Black;
}

ul li a {
	text-decoration: none;
	color: #092169;
	text-align: center;
	padding: 0 15px 0 15px;
}

li a:hover {
	color: #cc4e02;
}

main, footer {
	background-color: White;
}

.content {
	background: repeating-linear-gradient(#eaf9ff 10%, #BDEDFF 20%, #eaf9ff 30%);
}

footer {
	text-align: center;
	font-size: 14px;
	margin: 25px 25% 0 27%;
	height: 100px;
	width: 95%;
	padding: 5px;
}

/*Begin unique code*/
img[alt="<3"] {
	width: 75px;
	height: 75px;
	vertical-align: bottom;
}

.logo {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

h2 {
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	margin: 50px 25px 25px 25px;
	padding: 20px;
	background-image: url("images/texture.png");
	background-repeat: no-repeat;
	background-position: center center;
	color: White;
}

.content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.select {
	width: 50%;
}

ol {
	list-style: none;
	margin: 0;
}

ol li {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	background: linear-gradient(to bottom right, Gold, #cc4e02);
	border: 2px inset #D19C67;
	border-radius: 10px;
	padding: 10px;
	margin-left: 30%;
	margin-bottom: 10px;
	width: 250px;
}

ol li a {
	text-decoration: none;
	color: White;
}

ol li a:hover {
	color: #092169;
}

footer {
	position: relative;
	right: 25%;
}

fieldset {
	border: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 10px;
	background-color: #092169;
	color: White;
	border-radius: 10px;
}

select {
	border-radius: 5px;
	background: linear-gradient(to bottom right, Gold, #cc4e02);
	color: White;
	font-size: 16px;
}

option {
	background-color: #cc4e02;
	font-size: 16px;
}

button {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 0 25% 0 25%;
	width: 200px;
	border: 2px outset;
	border-radius: 10px;
	background-image: url('images/texture.png');
	color: White;
}

p {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

p a {
	text-decoration: none;
	color: #092169;
	display: inline;
}

p a:hover {
	color: Gold;
}